RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# The following lines are comments

#SetEnv CI_ENV development
#SetEnv GITHUB_WEBHOOK_SECRET QDjzkg574GjPw29B

#RedirectMatch 403 ^/assets/js/game.js$
#RedirectMatch 403 ^/assets/js/obfuscator-game.js$
