.nav-pills .nav-link {
  font-size: 22px;
  color: #fff;
}
.nav-pills .nav-link.active {
  background-color: #272727;
}
.tab-content {
  padding: 40px;
  border-radius: 0.25rem;
}
#signup-username:valid~.valid-feedback,
#signup-email:valid~.valid-feedback {
  display: none;
}
#signup-username.is-valid~.valid-feedback,
#signup-email.is-valid~.valid-feedback {
  display: block;
}
.password-visibility-toggle {
  cursor: pointer;
}
.input-group>.input-group-append:not(:last-child)>.btn {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
#email-verified .modal-title,
#email-unverified .modal-title {
  text-shadow: 0 0 3px #000;
}
