@font-face {
  font-family: 'Aetherfox';
  font-style: normal;
  font-weight: normal;
  src: local('Aetherfox'), url('../fonts/aetherfox.woff') format('woff');
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.2;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* MISC */

.aether-font {
  font-family: 'aetherfox', cursive;
}
.right-font {
  font-family: 'Righteous', cursive;
}
.w-500 {
  width: 500px;
}
.h-500 {
  min-height: 500px;
}
.hind-font-500 {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
}
.hind-font-700 {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}
.d-flex.d-none {
  display: none !important;
}
.bg-darkest {
  background-color: #272727;
}
.modal {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
}
.d-block {
  display: block;
}
.pulsate {
  -webkit-animation: pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

/* TEXT */

.text-white-hover:hover,
.text-white-hover:focus,
.text-white-hover.active {
  color: #fff !important;
}
.text-primary-hover:hover,
.text-primary-hover:focus,
.text-primary-hover.active {
  color: #1384ff !important;
}
.text-secondary-hover:hover,
.text-secondary-hover:focus,
.text-secondary-hover.active {
  color: #494f54 !important;
}
.text-success-hover:hover,
.text-success-hover:focus,
.text-success-hover.active {
  color: #2fd857 !important;
}
.text-info-hover:hover,
.text-info-hover:focus,
.text-info-hover.active {
  color: #1fceea !important;
}
.text-warning-hover:hover,
.text-warning-hover:focus,
.text-warning-hover.active {
  color: #ffc004 !important;
}
.text-danger-hover:hover,
.text-danger-hover:focus,
.text-danger-hover.active {
  color: #ff4657 !important;
}
.text-light-hover:hover,
.text-light-hover:focus,
.text-light-hover.active {
  color: #cbd3da !important;
}
.text-dark-hover:hover,
.text-dark-hover:focus,
.text-dark-hover.active {
  color: #121416 !important;
}

/* HEADER */

#site-logo {
  display: inline-block;
  margin-bottom: 0;
}
#navbar-section {
  border-bottom: 2px solid #272727;
}
#menu-toggle {
  font-size: 35px;
  cursor: pointer;
}
#mainbar-wrapper .navbar {
  padding: .5rem 0;
}
.navbar-dark .nav-link {
  color: #b8bfce;
}
.navbar-dark .nav-link:focus,
.navbar-dark .nav-link:hover {
  color: rgba(255,255,255,.75);
}
.navbar-brand {
  margin-left: 1rem;
}

/* SIDEBAR */

body {
  overflow-x: hidden;
}
.nav-link.list-group-item {
  padding-right: 20px;
  padding-left: 20px;
}
a.nav-link.bg-dark:hover,
a.nav-link.bg-darkest:hover {
  background-color: #2e3035 !important;
}
#wrapper {
  display: flex;
  width: 100%;
}
#sidebar-wrapper {
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: #272727;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidebar-wrapper a {
  text-decoration: none;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: -300px;
}
#sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
#user-pic {
  float: left;
  padding: 2px;
  margin-right: 15px;
  overflow: hidden;
}
#user-pic img {
  object-fit: cover;
  width: 68px;
  border-radius: 4px;
}
#user-pic i {
  font-size: 38px;
  background: #b8bfce;
  width: 68px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  border-radius: 4px;
}
#user-role,
#user-role a,
#qp-status,
#sidebar-menu ul li a {
  color: #818896;
}
#qp-status {
  font-size: 14px;
  margin-top: 5px;
}
#qp-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
#sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}
#sidebar-menu ul li a i {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  background: #191919;
}
#sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
#sidebar-menu ul li a span.label,
#sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}
.header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
  color: #6c7b88;
}
#mainbar-wrapper {
  min-height: 100vh;
  width: calc(100% - 300px);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
#wrapper.toggled #mainbar-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: -250px;
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  #mainbar-wrapper {
    width: 100vw;
  }
}

/* FORM */

.was-validated .form-control.is-invalid:valid~.valid-feedback {
  display: none;
}
.was-validated .form-control.is-invalid:valid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.was-validated .form-control.is-invalid:valid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* PAGE CONTENT */

.page-content-section {
  padding: 80px 0 80px 0;
}

@media screen and (max-width: 520px), (max-height: 725px) {
  .page-content-section {
    padding-top: 27px;
  }
  #site-hiscore {
    display: none;
  }
}
