.modal {
  font-family: 'Hind', sans-serif;
}

#game-stats {
  font-family: 'Righteous', cursive;
  font-size: 2.2rem;
  width: 500px;
  padding: 0 15px 0 15px;
}

#game-section {
  padding-top: 123px;
  touch-action: none;
}

#game-container #game-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(234, 234, 234, 0.92);
  z-index: 100;
  text-align: center;
  border-radius: 7px;
}

#game-container #game-message p {
  font-size: 44px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 175px;
  color: #343A40;
}

#game-container #game-message .lower {
  display: block;
  margin-top: 59px;
}

#game-container #game-message a {
  display: inline-block;
  background: #343A40;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  height: 40px;
  line-height: 42px;
  margin-left: 9px;
  font-family: 'Righteous', cursive;
}

#game-mobile-msg {
  display: none;
}

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game-container {
  margin-top: 20px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #272727;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}

.grid-cell:last-child {
  margin-right: 0;
}

#tile-container {
  position: absolute;
  z-index: 2;
}

.tile.tile-position-1-1 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.tile.tile-position-1-2 {
  position: absolute;
  left: 0px;
  top: 121px;
}

.tile.tile-position-1-3 {
  position: absolute;
  left: 0px;
  top: 243px;
}

.tile.tile-position-1-4 {
  position: absolute;
  left: 0px;
  top: 364px;
}

.tile.tile-position-2-1 {
  position: absolute;
  left: 121px;
  top: 0px;
}

.tile.tile-position-2-2 {
  position: absolute;
  left: 121px;
  top: 121px;
}

.tile.tile-position-2-3 {
  position: absolute;
  left: 121px;
  top: 243px;
}

.tile.tile-position-2-4 {
  position: absolute;
  left: 121px;
  top: 364px;
}

.tile.tile-position-3-1 {
  position: absolute;
  left: 242.5px;
  top: 0px;
}

.tile.tile-position-3-2 {
  position: absolute;
  left: 242.5px;
  top: 121px;
}

.tile.tile-position-3-3 {
  position: absolute;
  left: 242.5px;
  top: 243px;
}

.tile.tile-position-3-4 {
  position: absolute;
  left: 242.5px;
  top: 364px;
}

.tile.tile-position-4-1 {
  position: absolute;
  left: 363.5px;
  top: 0px;
}

.tile.tile-position-4-2 {
  position: absolute;
  left: 363.5px;
  top: 121px;
}

.tile.tile-position-4-3 {
  position: absolute;
  left: 363.5px;
  top: 243px;
}

.tile.tile-position-4-4 {
  position: absolute;
  left: 363.5px;
  top: 364px;
}

.tile {
  font-family: 'Hind', sans-serif;
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  width: 106.5px;
  height: 106.5px;
  line-height: 116.5px;
  z-index: 10;
  font-size: 2rem;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
}

.tile.tile-odd {
  background: #3B79AC;
  color: white;
}

.tile.tile-even {
  color: white;
  background: #d65c5c;
}

.tile.tile-nan {
  color: #776E65;
  background: #333;
}

.tile.tile-max {
  background: #FFD700;
  color: #CD853F;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

.tile-new {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  font-size: 64px;
  cursor: pointer;
}

.tile-new.has-value {
  font-size: 40px;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

.tile-merged {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

@media screen and (max-width: 480px) {
  #game-container {
    padding: 10px;
    width: 280px;
    height: 280px;
  }
  #game-section {
    padding-top: 98px;
  }
  #game-container #game-message p {
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 90px;
  }
  #game-mobile-msg {
    display: block;
  }
  #game-desktop-msg {
    display: none;
  }
  #game-stats {
    width: 280px;
    font-size: 1.8rem;
  }
  #grid-container {
    position: absolute;
    z-index: 1;
  }
  .grid-row {
    margin-bottom: 10px;
  }
  .grid-row:last-child {
    margin-bottom: 0;
  }
  .grid-row:after {
    content: "";
    display: block;
    clear: both;
  }
  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
  }
  .grid-cell:last-child {
    margin-right: 0;
  }
  #tile-container {
    position: absolute;
    z-index: 2;
  }
  .tile {
    width: 57.5px;
    height: 57.5px;
    line-height: 67.5px;
  }
  .tile.tile-position-1-1 {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .tile.tile-position-1-2 {
    position: absolute;
    left: 0px;
    top: 67.5px;
  }
  .tile.tile-position-1-3 {
    position: absolute;
    left: 0px;
    top: 135px;
  }
  .tile.tile-position-1-4 {
    position: absolute;
    left: 0px;
    top: 202.5px;
  }
  .tile.tile-position-2-1 {
    position: absolute;
    left: 67.5px;
    top: 0px;
  }
  .tile.tile-position-2-2 {
    position: absolute;
    left: 67.5px;
    top: 67.5px;
  }
  .tile.tile-position-2-3 {
    position: absolute;
    left: 67.5px;
    top: 135px;
  }
  .tile.tile-position-2-4 {
    position: absolute;
    left: 67.5px;
    top: 202.5px;
  }
  .tile.tile-position-3-1 {
    position: absolute;
    left: 135px;
    top: 0px;
  }
  .tile.tile-position-3-2 {
    position: absolute;
    left: 135px;
    top: 67.5px;
  }
  .tile.tile-position-3-3 {
    position: absolute;
    left: 135px;
    top: 135px;
  }
  .tile.tile-position-3-4 {
    position: absolute;
    left: 135px;
    top: 202.5px;
  }
  .tile.tile-position-4-1 {
    position: absolute;
    left: 202.5px;
    top: 0px;
  }
  .tile.tile-position-4-2 {
    position: absolute;
    left: 202.5px;
    top: 67.5px;
  }
  .tile.tile-position-4-3 {
    position: absolute;
    left: 202.5px;
    top: 135px;
  }
  .tile.tile-position-4-4 {
    position: absolute;
    left: 202.5px;
    top: 202.5px;
  }
  #game-container {
    margin-top: 20px;
  }
  .tile {
    font-size: 5vw;
  }
  .tile-new {
    font-size: 40px;
  }
  .tile-new.has-value {
    font-size: 5vw;
    cursor: pointer;
  }
}
